div.search.left {
  display: inline-block;
  width: 30%;
  height: 45px;
}

input#searchBar {
  float: left;
  width: 60%;
}

input#searchButton {
  margin-left: 0.5em;
  position: relative;
  transform: translateY(-48%);
  font-family: 'Karla', sans-serif;
}

.name {
  padding-top: -5px;
  padding-right: 10px;
}
