<%= form_for [@sitcom, @review] do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.text_field :body %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="set_rating" data-score = <%= @review.rating %>>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
